body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f5;
}

.container {
  text-align: center;
}

.title-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px; /* デフォルトの左右マージン */
}

h1 {
  font-size: 2em;
  margin-right: 20px;
}

img {
  height: 2em; /* タイトルの高さの3倍に調整 */
  width: auto;
}

/* スマホ表示を考慮したメディアクエリ */
@media (max-width: 768px) {
  .title-logo {
    margin: 0 10px; /* スマホ表示時の左右マージン */
  }

  h1 {
    font-size: 2em; /* スマホ表示時のフォントサイズ調整 */
  }

  img {
    height: 2em; /* スマホ表示時の画像高さ調整 */
  }
}
